.no-data {
    height: 28rem;
    width: 28rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (max-width: 768px) {
 .no-data {
    height: 20rem;
    width: 20rem;
    top: 30%;
    left: 0;
  }
}
@media (max-width: 480px) {
    .no-data {
       height: 14rem;
       width: 14rem;
       top: 7rem;
       left: 50%;
     }
   }