.playlist-card {
    background-color: aliceblue;
    width: 350px;
    padding: 20px;
}

.playlist-main {
    display: flex;
    gap: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
}

.playlist-card > button {
    width: 100%;
    height: 30px;
    
}
.playlist-name{
    font-size:18px;
}
.playlist-button {
    padding: 10px;
    font-size: 16px;
}
@media (max-width:480px) {
    .playlist-card {
        width: 18.75rem;
        margin: 0 auto;
    }
}