.navbar {
    padding: 5px 3rem 0.5rem 3rem;
    border-bottom: 2px solid var(--color-danger);
}
.navbar-link {
    font-size: 1.25rem;
}
.navbar-link:not(:last-child) {
    margin-right: 1rem;
}
.navbar-title {
    color: var(--color-danger)!important;
    font-size: 2.5rem;
    font-family: 'Hubballi' !important;
}
.navbar-list {
    position: relative;
}
.nav-form {
    position: relative;
}
.nav-img{
    top: 5px;
    position: absolute;
    height: 40px !important;
    width: 40px !important;
}

@media (max-width:1024px) {
     .navbar {
        height: 3.25rem;
     }
     .nav-img{
        top: 10px;
        height: 2rem !important;
        width: 2rem !important;
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .nav-form {
        position: absolute;
        top: 8%;
        left: 16%;
    }

}
